/*Base styles */

/* To make scroling move smooth */
html {
    scroll-behavior: smooth;
}

/* whole html document properties */
body {
    margin: 0;
    padding: 0;
    font-family: 'Thasadith', sans-serif;
    background-image: url(images/1296185_apple-laptop-hd-wallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;

}

/* styling the header */
.header {
    color: rgb(255, 238, 0);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 39px;
    padding: 10px;
    text-shadow: 1px 6px black;
    padding-top: 60px;
}

/* heading 1 properties & values */
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgba(44, 8, 248, 0.699);
    text-align: center;
}


/* paragraph properties & values */
p {
    font-size: 17px;
    color: white;
}

/* heading 3 properties & values */
.header h3 {
    color: rgb(38, 0, 255);
    text-shadow:1px 4px #dc3545;
    font-size:39px;   
}

/* for creating my whole navbar */
/* my navbar */
  nav {
     background: rgb(0, 0, 0);
     position: fixed;
     width: 100%;
     height: 4rem;

     background: rgba(218, 208, 208, 0.815);

/* navbar unordered list fix */
 }
 nav ul {
     margin: 0;
     padding: 0;
     text-decoration: none;
     display: grid;
     grid-template-columns: repeat(5,1fr);
     
 }
/* navbar list style fix */

 nav li {
     list-style: none;
     
     
 }
 
/* navbar anchor tag properties */
 nav a {
    display: block;
    padding: 20px 0px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(238, 241, 10, 0.822);
    text-align: center;
    text-shadow: 1px 2px red;
    font-size: 21px;
    border-radius: 70px;
    margin: 0;
         
}

/* navbar hover effect */
 nav a:hover {
    transition: 0.10s;
    color: rgba(0, 255, 221, 0.938);
    
}

/* My download cv button */
.button {
    margin: 0;
    padding-right: 900px;
}

.button li {
    list-style: none;
}

/* button anchor tag properties */
.button a {
    background-color: rgb(255, 255, 255);
    border-color: #11ABB0;
    color: #00000096;
    text-shadow: none;
    text-decoration: none;
    border-radius: 14px;
    font-size: 33px;
    border: 10px solid #11ABB0;
}

/* button hover effect */
.button a:hover{
    background-color: #819ac9a1;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 20px;
    
}
/* picture in the centre of my header section */

 #laptop {
     padding: 20px 15px;
     margin: 0;
}
 /* about section properties: custom margin and sizing */
.about {
    margin: 0;
    background: #2B2B2B;
    padding-top: 20px;
    padding-bottom: 66px;
    overflow: hidden;
    color: white;
    text-align: justify;
    background-size: cover;
         
}

/* about heading 2 */
 .about h2 {
    padding-left: 5%;
    padding-right: 5%;
    
}

/* about paragraph properties */
 .about p {
     padding-right: 100px;
     font-size: 18px;
     padding-left: 5%;
     padding-right: 5%;
}

/* picture in the about section properties */
.profile-pic {
    width: 250px;
    height: 444px;
    border-radius: 20px solid;
    float: right;
    padding-right: 170px;
}


/* education section properties: custom margin and sizing */
.education {
    margin: 0;
    color: White;
    box-shadow: 0 0 20px 20px rgb(0, 0, 0) inset;
    height: 800px;
    border: 20px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
         
}

.tertairy {
    text-align:justify;
}

.tertairy h1 {
    text-align:center ;
}
.tertairy p {
    text-align: justify;
}

/* skills section properties: custom margin and sizing */
.skills {
        margin: 0;
        color: white;
        box-shadow: 0 0 20px 20px rgb(179, 170, 170) inset;
        text-align: center;
        height: 450px;
        border: 20px solid rgb(179, 170, 170);
        background: rgb(179, 170, 170);     
}

/* portfolio section properties: custom margin and sizing */
.pfolio {
    margin: 0;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        box-shadow: 0 0 20px 20px black inset;
        height: 450px;
        border: 20px solid rgb(0, 0, 0);
        background: rgb(0, 0, 0);
    
       
}
/* portfolio made into a grid */
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

/* size of the image */
.grid img {
    width: 400px;
    height: 300px;
    padding-left: 120px;
}

.grid a:hover {
    background-color: #80818386;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
}
/* contact section properties: custom margin and sizing */
.contact {
    margin: 0;
    padding: 10px;
    color: white;
    border: 20px solid rgb(179, 170, 170);
    background: rgb(179, 170, 170);
}
.contact-container {
    display: flex;
    justify-content: center;
}
.contact-container > div {
    text-align: center;
    display: inline;
    padding: 20px;
    margin: 20px;
}

/* footer properties */
.footer {
    margin: 0;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 4px 4px rgb(0, 0, 0) inset;
    display: flex;
    box-shadow: 0 0 20px 30px rgb(0, 0, 0) inset;
    height: 15px;
    border: 20px solid rgb(0, 0, 0);
    text-align: left;
    
}

.footer-container {
    margin: 0px;
    padding: 0px;

}


.parallax1 {
    padding: 70px 0;
    position: relative;
    background-image: url(images/book-computer-design-326424.jpg);
    background-attachment: fixed;
    height: 6px;
    background-size: cover;
}


.parallax2 {
    padding: 70px 0;
    position: relative;
    background-image: url(images/apple-computer-connection-205421.jpg);
    background-attachment: fixed;
    height: 6px;
    background-size: cover;
}












    


