/*Base styles */

/* To make scroling move smooth */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Thasadith', sans-serif;
    background-image: url(images/1296185_apple-laptop-hd-wallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;

}
/* styling the header */
.header {
    /* background-color: rgba(0, 8, 8, 0.377); */
    color: rgb(255, 238, 0);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 39px;
    padding: 10px;
    text-shadow: 1px 6px black;
    /* background: rgba(79, 108, 189, 0.404); */
    padding-top: 60px;
    
}

/* My download cv button */
.button {
    margin: 0;
    padding-right: 900px;
}
.button li {
    list-style: none;
}
.button a {
    background-color: rgb(255, 255, 255);
    border-color: #11ABB0;
    color: #00000096;
    text-shadow: none;
    text-decoration: none;
    border-radius: 14px;
    font-size: 33px;
    border: 10px solid #11ABB0;
}

/* button hover effect */
.button a:hover{
    background-color: #819ac9a1;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 20px;
    
}
/* end of download cv button */

/* heading 1 properties & values */
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgba(44, 8, 248, 0.699);
    text-align: center;
}
/* end of heading 1 properties & values */

/* paragraph properties & values */
p {
    font-size: 17px;
}

/* heading 3 properties & values */
.header h3 {
    color: rgb(38, 0, 255);
    text-shadow:1px 4px #dc3545;
    font-size:39px;   
}
/* end of heading 1 properties & values */

/* For creating my whole navbar */

/* my navbar */
  nav {
     /* overflow: auto; */
     background: rgb(0, 0, 0);
     position: fixed;
     width: 100%;
     height: 4rem;
     /* background: #2B2B2B; */
     background: rgba(218, 208, 208, 0.815);

     
     
 }
 nav ul {
     margin: 0;
     padding: 0;
     text-decoration: none;
     display: grid;
     grid-template-columns: repeat(5,1fr);
     
 }

 nav li {
     list-style: none;
     
     
 }
 
/* navbar anchor tag */
 nav a {
    display: block;
    padding: 20px 0px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(238, 241, 10, 0.822);
    text-align: center;
    text-shadow: 1px 2px red;
    font-size: 21px;
    border-radius: 70px;
    margin: 0;
    
    
        
}
/* end of navbar */

/* navbar hover effect */

nav a:hover {
    /* background: #dc3545;; */
    transition: 0.10s;
    color: rgba(0, 255, 221, 0.938);
    
}

/* end of navbar hover effect */

/* my logo properties and values */
 .logo img {
     position: absolute;
     margin-top:0;
     margin-left: 10px;
     border-radius: 30px;
     -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      
     
 }

 .logo img:hover {
     width: 150px;
     height: 150px;
     -webkit-transform: rotate(360deg); /* Safari */
     
    
 }

 /* end of my logo's properties and values */

 
 #laptop {
     padding: 20px 15px;
     margin: 0;
 }
     /* my about section */
.about {

    background: #2B2B2B;
    padding-top: 20px;
    padding-bottom: 66px;
    overflow: hidden;
    color: white;
    text-align: justify;
    background-size: cover;
         
    }

    /* my about heading 2 */
 .about h2 {
    padding-left: 5%;
    padding-right: 5%;
    
 }
 .about p {
     padding-right: 100px;
     font-size: 18px;
 }

.profile-pic {
    width: 250px;
    height: 444px;
    border-radius: 20px solid;
    float: right;
    padding-right: 170px;
}
 .about p {
    padding-left: 5%;
    padding-right: 5%;
 }


/* my education section */
.education {
    color: White;
    box-shadow: 0 0 20px 20px rgb(0, 0, 0) inset;
    height: 800px;
    border: 20px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
         
}



.tertairy {
    text-align:justify;
}

.tertairy h1 {
    text-align:center ;
}
.tertairy p {
    text-align: justify;
}


.skills {
        color: white;
        box-shadow: 0 0 20px 20px rgb(179, 170, 170) inset;
        text-align: center;
        height: 450px;
        border: 20px solid rgb(179, 170, 170);
        background: rgb(179, 170, 170);
        
        
        
}

.pfolio {
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        box-shadow: 0 0 20px 20px black inset;
        height: 450px;
        border: 20px solid rgb(0, 0, 0);
        background: rgb(0, 0, 0);
    
       
}
/* my contact section */
.contact {
        
        padding: 10px;
        color: white;
        /* border: 20px solid rgb(0, 0, 0);
        background: rgb(0, 0, 0); */
        border: 20px solid rgb(179, 170, 170);
        background: rgb(179, 170, 170);
}
.contact-container {
    display: flex;
    justify-content: center;
}
.contact-container > div {
    text-align: center;
    display: inline;
    padding: 20px;
    margin: 20px;
}
/* end of contact section */

.footer-container {
    margin: 0px;
    padding: 0px;

}
.footer {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 4px 4px rgb(0, 0, 0) inset;
    display: flex;
    box-shadow: 0 0 20px 30px rgb(0, 0, 0) inset;
    height: 15px;
    border: 20px solid rgb(0, 0, 0);
    text-align: left;
    
    
}

.parallax {
    padding: 70px 0;
    position: relative;
    background-image: url(images/black-and-white-computer-device-331684.jpg);
    background-attachment: fixed;
    height: 6px;
    background-size: cover;
}

.parallax2 {
    padding: 70px 0;
    position: relative;
    background-image: url(images/business-computer-connection-7379.jpg);
    background-attachment: fixed;
    height: 6px;
    background-size: cover;
}

.parallax3 {
    padding: 70px 0;
    position: relative;
    background-image: url(images/book-computer-design-326424.jpg);
    background-attachment: fixed;
    height: 6px;
    background-size: cover;
}

.parallax4 {
    padding: 70px 0;
    position: relative;
    background-image: url(images/apple-computer-desk-18104.jpg);
    background-attachment: fixed;
    height: 6px;
    background-size: cover;
}
.parallax5 {
    padding: 70px 0;
    position: relative;
    background-image: url(images/apple-computer-connection-205421.jpg);
    background-attachment: fixed;
    height: 6px;
    background-size: cover;
}

p {
    font-size: 17px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid img {
    width: 400px;
    height: 300px;
}








    


